.Pokecard {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 200px;
  height: 290px;
  border-radius: 5px;
  font-size: 1rem;
  box-shadow: 7px 10px 12px -5px rgba(0, 0, 0, 0.56);
  transition: all ease 500ms;
}
.Pokecard:hover {
  transform: scale(1.1);
}

.Pokecard-item {
  line-height: 0.7rem;
  margin: 0;
  padding: 0.5rem;
  text-transform: uppercase;
}

.Pokecard-img {
  max-width: 140px;
  height: 150px;
  transition: all ease 500ms;
}
.Pokecard-img:hover {
  transform: scale(1.3);
}
