.Pokedex {
  display: flex;
  flex-direction: column;
  border-left: 6px solid black;
  border-right: 6px solid black;
  padding-bottom: 20px;
}
.Pokedex-content {
  padding: 0;
  /* margin-left: 10px;
  margin-right: 10px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.Pokedex-item {
  margin: 0;
  width: auto;
}
.Pokedex > h3 {
  padding: 1.5rem;
  margin: 0;
  text-align: center;
}
.win {
  color: white;
  background: #76b852; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #8dc26f,
    #76b852
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #8dc26f,
    #76b852
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.lose {
  color: white;
  background: #cb356b; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #bd3f32,
    #cb356b
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #bd3f32,
    #cb356b
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@media (min-width: 720px) {
  .Pokedex-item {
    margin: 0 30px;
  }
}
